In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sgqlc.endpoint.http import HTTPEndpoint
from time import sleep
import requests
import json


""" config.py """
API = 'https://etherlink-bridge-ghostnet.dipdup.net/v1/graphql'

In [2]:
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_rows', 200)
sns.set_style('whitegrid')
colors = sns.color_palette()

In [3]:
endpoint = HTTPEndpoint(API)

### Deposits:

### Withdrawals:

In [4]:
from string import Template
from typing import Iterator, List, Optional
import time


def iter_pages_fetch(
    endpoint: HTTPEndpoint,
    table_name: str,
    query_content: str,
    limit = 1000,
    max_queries: Optional[int] = None,
    delay = 1,
) -> Iterator[List]:

    query_template = Template("""
        query Query {
            $table_name(limit: $limit, offset: $offset) {
                $query_content
            }
        }
    """)
    offset = 0
    queries_count = 0

    print(f'Requesting `{table_name}`: ', end='')
    while True:
        queries_count += 1
        if queries_count > max_queries:
            break

        variables = dict(limit=limit, offset=offset)
        query = query_template.substitute(
            table_name=table_name,
            query_content=query_content,
            limit=limit,
            offset=offset
        )
        response = endpoint(query)
        if 'errors' in response:
            print('Catched errors while loading data:')
            import pdb; pdb.set_trace()
        print('x', end='')
        data = response['data'][table_name]
        if len(data):
            yield data
            offset += limit
            time.sleep(delay)
        else:
            break
    print(', done')
    return


def fetch_all(
    endpoint: HTTPEndpoint,
    table_name: str,
    query_content: str,
    max_queries: Optional[int]=None,
) -> pd.DataFrame:
    return pd.concat(
        pd.json_normalize(data)
        for data in iter_pages_fetch(
            endpoint=endpoint,
            table_name=table_name,
            query_content=query_content,
            max_queries=max_queries,
        )
        if len(data)
    )


def fetch_withdrawals(endpoint: HTTPEndpoint):
    return fetch_all(
        endpoint=endpoint,
        table_name='bridge_withdrawal',
        query_content='''
            created_at
            id
            l1_transaction_id
            l2_transaction_id
            outbox_message_id
            updated_at
        ''',
    )

In [5]:
def fetch_bridge_operations(endpoint: HTTPEndpoint, max_queries: Optional[int]=None):
    return fetch_all(
        endpoint=endpoint,
        table_name='bridge_operation',
        query_content='''
            created_at
            id
            is_completed
            is_successful
            l1_account
            l2_account
            status
            type
            updated_at
            withdrawal {
              created_at
              id
              l1_transaction_id
              l1_transaction {
                counter
                id
                initiator
                level
                nonce
                operation_hash
                outbox_message_id
                sender
                target
                timestamp
              }
              outbox_message_id
              updated_at
              l2_transaction_id
              outbox_message {
                cemented_at
                cemented_level
                commitment_id
                created_at
                id
                index
                level
                message
                parameters_hash
                proof
                updated_at
              }
              l2_transaction {
                address
                amount
                id
                kernel_withdrawal_id
                l1_account
                l1_ticket_owner
                l2_account
                l2_ticket_owner
                l2_token {
                  decimals
                  id
                  name
                  symbol
                  ticket_hash
                }
                level
                log_index
                parameters_hash
                ticket {
                  hash
                  outbox_interface
                  metadata
                  ticket_id
                  ticketer_address
                  whitelisted
                  token_id
                }
                ticket_hash
                timestamp
                token_id
                transaction_hash
                transaction_index
              }
            }
            deposit {
              created_at
              id
              inbox_message_id
              l1_transaction_id
              l2_transaction_id
              updated_at
              inbox_message {
                created_at
                level
                index
                message
                parameters_hash
                type
                updated_at
              }
              l1_transaction {
                amount
                counter
                id
                initiator
                l1_account
                l2_account
                level
                nonce
                operation_hash
                parameters_hash
                sender
                target
                ticket_hash
                timestamp
                ticket {
                  hash
                  metadata
                  ticket_id
                  ticketer_address
                  token_id
                  whitelisted
                  token {
                    contract_address
                    decimals
                    id
                    name
                    symbol
                    token_id
                    type
                  }
                }
              }
              l2_transaction {
                address
                amount
                id
                inbox_message_index
                inbox_message_level
                l2_account
                l2_token {
                  decimals
                  id
                  name
                  symbol
                  ticket_hash
                }
                level
                log_index
                ticket_hash
                ticket_owner
                timestamp
                token_id
                transaction_hash
                transaction_index
              }
            }
        ''',
        max_queries=max_queries,
    )

In [6]:
# df = fetch_withdrawals(endpoint)
df = fetch_bridge_operations(endpoint, max_queries=1000)

Requesting `bridge_operation`: xxxxxxxxxxxxxxx, done

/tmp/ipykernel_9184/723557464.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(

In [8]:
len(df)

13826

In [9]:
df_copy = df.copy()

### processing:

In [10]:
df = df_copy.copy()

datetime_fields = [
    'created_at',
    'updated_at',
    'deposit.created_at',
    'deposit.updated_at',
    'deposit.inbox_message.created_at',
    'deposit.inbox_message.updated_at',
    'deposit.l1_transaction.timestamp',
    'deposit.l2_transaction.timestamp',
    'withdrawal.created_at',
    'withdrawal.updated_at',
    'withdrawal.l2_transaction.timestamp',
    'withdrawal.outbox_message.cemented_at',
    'withdrawal.outbox_message.created_at',
    'withdrawal.outbox_message.updated_at',
    'withdrawal.l1_transaction.timestamp',
]

for field in datetime_fields:
    df[field] = pd.to_datetime(df[field])

id_to_str = lambda v: str(int(v)) if pd.notnull(v) else ''
df['deposit.inbox_message_id'] = df['deposit.inbox_message_id'].map(id_to_str)

df = df.drop(['withdrawal', 'deposit'], axis=1)

In [74]:
# some checks:
deposits = df[ df['type'] == 'deposit' ]
withdrawals = df[ df['type'] == 'withdrawal' ]
assert (deposits['deposit.l1_transaction.l1_account'] == deposits['l1_account']).all()
assert (deposits['deposit.l1_transaction.l2_account'] == deposits['l2_account']).all()
assert (withdrawals['withdrawal.l2_transaction.l1_account'] == withdrawals['l1_account']).all()
assert (withdrawals['withdrawal.l2_transaction.l2_account'] == withdrawals['l2_account']).all()

In [12]:
df['deposit.inbox_message.type'].value_counts()

deposit.inbox_message.type
transfer    12300
Name: count, dtype: int64

- [ ] `withdrawal.l1_transaction`, `withdrawal.outbox_message` is empty, why?

# Anaylyzis:

### Deposit Ticketers:

In [16]:
ticket_names = {
    # ghostnet:
    'KT1Bp9YUvUBJgXxf5UrYTM2CGRUPixURqx4m': 'xtz_native',
    'KT1S6Nf9MnafAgSUWLKcsySPNFLUxxqSkQCw': 'TEST_USDt_141',
    'KT1H7if3gSZE1pZSK48W3NzGpKmbWyBxWDHe': 'TEST_tzBTC_141',
    'KT1DjH84P98gKFptqiAevj1qoKqxrTaG1T7i': 'YOU',
    'KT1Cw8WZLp4XUPLrDWUjwwpShzCRqzRByyVh': 'TEST_SIRS_141',
    'KT1PGXCy9xkkASAXYLgp5a9szX3P4xPdHk84': 'TST12',
    'KT1CtuZZV6vnzhdn7h3t43cfGZXpcRKNvyxZ': 'TPM',
}

df['deposit.inbox_message.message.LL.ticket.address'].map(ticket_names).value_counts()

deposit.inbox_message.message.LL.ticket.address
xtz_native        12253
TEST_USDt_141        16
YOU                  12
TEST_tzBTC_141       12
TEST_SIRS_141         4
TST12                 2
TPM                   1
Name: count, dtype: int64

In [89]:
df['withdrawal.l2_transaction.l1_ticket_owner'].map(ticket_names).value_counts()

withdrawal.l2_transaction.l1_ticket_owner
xtz_native        926
TEST_USDt_141     581
YOU                 8
TEST_SIRS_141       6
TEST_tzBTC_141      3
Name: count, dtype: int64

In [17]:
df['deposit.l1_transaction.ticket.token_id'].value_counts()

deposit.l1_transaction.ticket.token_id
xtz                                       12255
KT1V2ak1MfNd3w4oyKD64ehYU7K4CrpUcDGR_0       16
KT1VyYTej9iHeAfpCKBEdpqiKaHAk4hUN7h8_0       12
KT1HmyazXfKDbo8XjwtWPXcoyHcmNPDCvZyb_0       12
KT1TCTpXXbpnWBZ8whqExokbKfUrUW3nAXDJ_0        4
KT1SekNYSaT3sWp55nhmratovWN4Mvfc6cfQ_0        2
KT1N5CWnvabCM71eBmzEhotnQX3eciLLyv8v_0        1
Name: count, dtype: int64

In [18]:
df['deposit.l1_transaction.ticket.whitelisted'].value_counts()

deposit.l1_transaction.ticket.whitelisted
True    12302
Name: count, dtype: int64

In [19]:
df['deposit.l1_transaction.ticket.token.type'].value_counts()

deposit.l1_transaction.ticket.token.type
native    12255
FA2          29
FA1.2        18
Name: count, dtype: int64

### Operations by days:

In [20]:
df.set_index('created_at').groupby(pd.Grouper(freq='D')).type.value_counts().unstack().fillna(0)

type                        deposit  withdrawal
created_at
2024-08-27 00:00:00+00:00      5.00        1.00
2024-08-28 00:00:00+00:00      1.00        0.00
2024-08-29 00:00:00+00:00      2.00        2.00
2024-08-30 00:00:00+00:00      5.00        0.00
2024-08-31 00:00:00+00:00      2.00        0.00
2024-09-02 00:00:00+00:00      1.00        0.00
2024-09-03 00:00:00+00:00      0.00        1.00
2024-09-04 00:00:00+00:00      6.00        3.00
2024-09-05 00:00:00+00:00 12,209.00        0.00
2024-09-06 00:00:00+00:00      7.00        7.00
2024-09-09 00:00:00+00:00      7.00       10.00
2024-09-10 00:00:00+00:00      2.00        1.00
2024-09-11 00:00:00+00:00      2.00        1.00
2024-09-12 00:00:00+00:00     12.00        5.00
2024-09-13 00:00:00+00:00      1.00        0.00
2024-09-15 00:00:00+00:00      1.00        0.00
2024-09-16 00:00:00+00:00      3.00        1.00
2024-09-17 00:00:00+00:00      0.00        1.00
2024-09-18 00:00:00+00:00      3.00        1.00
2024-09-19 00:00:00+00:00     18.00    1,482.00
2024-09-20 00:00:00+00:00      1.00        0.00
2024-09-23 00:00:00+00:00      3.00        0.00
2024-09-24 00:00:00+00:00      3.00        1.00
2024-09-26 00:00:00+00:00      1.00        1.00
2024-09-27 00:00:00+00:00      3.00        3.00
2024-09-29 00:00:00+00:00      1.00        0.00
2024-09-30 00:00:00+00:00      3.00        3.00

### Account stats:

In [23]:
df.groupby('l1_account').type.value_counts().unstack().fillna(0).sort_values('deposit', ascending=False)

type                                  deposit  withdrawal
l1_account
tz1g2RbQtxZRHw8oj4oSnhRzy7iRA2hxU4TD 6,400.00        0.00
tz1R4EjaQqeBhBP2dztahpkzHTZ61PSssqkh 5,801.00        0.00
tz1ekkzEN2LB1cpf7dCaonKt6x9KVd9YVydc    49.00      605.00
tz1TZDn2ZK35UnEjyuGQRVeM2NC5tQScJLpQ    12.00        0.00
tz1KhnTgwoRRALBX6vRHRnydDGSBFsWtcJxc     5.00        5.00
tz1QCVQinE8iVj1H2fckqx6oiM85CNJSK9Sx     4.00        0.00
tz1bCRGKwwhf3DQqADACbv93sJUPVB5ChFqa     3.00        0.00
tz1fWLoHsRYx2pWx17kmuaTyuHvQbtvLj6Tw     3.00        0.00
tz1Lzmg6AD59nHMwuErfGhS3GfsPE8rcr779     2.00        1.00
tz2EGRopPkvS3uwppNovbDHYfMJVZDg2kBsj     2.00        0.00
tz1boqBV6XhVjXA2i5ysZ4megxZxa2EEgyxg     2.00        1.00
tz1fcos46bDacAF1KAZMirWAW7FwqGNMzMaS     2.00        2.00
tz1gSKXnv2sT5tRduED1fRHBYRGCGchgLWEL     2.00        0.00
tz1L23LUMJD2L2swXuM783jN8R6BftVRwsK6     2.00        0.00
tz1f5TXqsUb2qMhJPA9D88BtKpmw8CRs6mGX     2.00        3.00
tz1fjZ41sVDt5hEJLjFMAL7vPpLdZpBc4yyK     1.00        0.00
tz1RYaugefywZHsMRmS2TnCkUR57nfnG9Xgm     1.00        0.00
tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb     1.00        0.00
tz1N43JsFs6Qmdy8FpUdcmG8aFpLpNejuY8k     1.00        0.00
tz1KwQGJvQR1tHzUuj6qzsJ8a5aaSKmssJaP     1.00        0.00
tz1T1nTR7FREghqvUi2UF3TUiUFyvLVtqe8a     1.00        0.00
tz1ULgYrbjqUUEfzxXPzbxzKNdBCCWfnkA23     1.00        2.00
tz2FvPHK3EXDkrZGXn7UNAH4Fq6t5iSKUFdv     1.00        0.00
tz1iiazjVWeujGacFpALwGdkUZCavPpCSgNE     1.00        1.00
tz1fDrjXWvPfEJdd292CB4hxhAzbYeaeZDRp     1.00        0.00
tz1eLxFtMBKGpP1NfHCeVCutNw1ocHAvJcLC     1.00        0.00
KT1H7if3gSZE1pZSK48W3NzGpKmbWyBxWDHe     0.00        2.00
tz1burnburnburnburnburnburnburjAYjjX     0.00      900.00
tz1bMQTQrWck55Fj3zQG33U11Vggg5zoaL4T     0.00        1.00
tz2DeKn5QstSFJQttrXaBtWA4LkLoBUVhcfk     0.00        1.00

In [26]:
l2_contract_names = {
    '2a0030903e5313bf145d8631e87aac5237f9ad26': 'BulkWithdrawalHelper: 450',
    'daa58536ebccb421331aae8334cd73a12a54654e': 'OutboxEnumerator'
}

df.groupby('l2_account').type.value_counts().unstack().fillna(0).sort_values('withdrawal', ascending=False)

type                                       deposit  withdrawal
l2_account
2a0030903e5313bf145d8631e87aac5237f9ad26      2.00      900.00
daa58536ebccb421331aae8334cd73a12a54654e      1.00      450.00
865e2887bafe9bdd5e68d0cc5fb9eeb9dce535fa      1.00      100.00
fa34004dda5a87a40ecef2714101472961c17560     21.00       14.00
befd2c6ffc36249ebebd21d6df6376ecf3bac448     20.00       10.00
1cf25b150d52913ad102a32c5554358f1c6f4a7e      1.00       10.00
4a338a3cb0017a3e0e9156397d98b97795032c72      3.00        9.00
0e00cfbccf7de8c0c6139fae80449bd0783599ab      2.00        5.00
7e6f6ccfe485a087f0f819eabfdbfb1a49b97677      6.00        5.00
8626f6940e2eb28930efb4cef49b2d1f2c9c1199      4.00        5.00
2e2ac8699ad02e710951ea0f56b892ed36916cd5      4.00        4.00
0a9ca9d0139104b2ae7eea9e7ea29ff7b7260650      1.00        3.00
655eab377c7702749d5c29fa47f861e50942f498      1.00        2.00
0bf4819a616f8a72ea4b04c1e8d894b567ba268f      1.00        2.00
1079868d6266874b62595e867684fefebacc45b1      1.00        1.00
351841b2dac612edf03e541b97dd8bad9ac55314      1.00        1.00
275196066ba182aad1e2fb507c7d6d353a86414d      2.00        1.00
2b1bca8ada84ea2c1f7fc01423e0576549fecaa0      0.00        1.00
2e2069b14dff938759dbf374cfb608903fb03c9e      0.00        1.00
1074fd1ec02cbeaa5a90450505cf3b48d834f3eb      1.00        0.00
257ebb5ce12e8da3673165bd78e84aa5f0e9abc8      1.00        0.00
6432bf02a54975500ee3924dfe504351e27b968b      2.00        0.00
76955db4b0c6881ecae0954d9b50577fec978833      1.00        0.00
58321c0872345dbdcb2e212dd8e3604bc79a412f      1.00        0.00
45ff91b4bf16ac9907cf4a11436f9ce61be0650d      4.00        0.00
665efb7ed93adf61f364944b68140c350b822a4d      1.00        0.00
89b87bf3bc6a34b81341b43cd45a0a8b016e2630      1.00        0.00
6e558e4279d9be551d51050890041b656789c414      1.00        0.00
7308f1e2e8f4fd608fbf029c2d71f5669770d4e0      2.00        0.00
8f31fa683c8dedbe61fc772b2e0a29c35069ff9d      1.00        0.00
be60d19b61c5da22548da64c614977493de0d611      2.00        0.00
c3237f7962ffbf053787645f66b57c8b342106eb      1.00        0.00
baa233e2f62f45e9d91dacd3d6c6a57bc2cbc575      1.00        0.00
aa552f83dea2c7aed0b6e390dc581b1bad982fde      1.00        0.00
d68eab0ea314398abf04f6ffcd0affb2db11bfcb      1.00        0.00
d3c509e32983ffa469d48863cbbb275bd885e891      1.00        0.00
d7e3b343cff28f04947e1129d6ceeb1570e1c609      1.00        0.00
d7cf98f71ba837006bfceeb84965f765ab8f1725      2.00        0.00
f0646f8d097542e0faa1828ae1f57f90c145506d      1.00        0.00
f1d791b3bdf4910c01220da90112f9fd34c4aa45      2.00        0.00
f60e84b902e097c1e722e13fed0f14e52f5c5496 12,200.00        0.00
fedc9d4f01b124fa00c0cfcc5796c47a8b4c5b76      1.00        0.00

### ERC20:
- [ ] TODO: manually check and classify all of the addresses

In [27]:
df['deposit.l2_transaction.ticket_owner'].value_counts()

deposit.l2_transaction.ticket_owner
xtz                                         5855
f68997ecc03751cb99b5b36712b213f11342452b      11
59118d19848baca5c3dd1603acfc99c4cbccc3db       7
4a338a3cb0017a3e0e9156397d98b97795032c72       3
8e73ae3cf688fbd8368c99520d26f9ef1b4d3bca       3
baa233e2f62f45e9d91dacd3d6c6a57bc2cbc575       2
8f31fa683c8dedbe61fc772b2e0a29c35069ff9d       1
Name: count, dtype: int64

In [88]:
df['withdrawal.l2_transaction.l2_token.id'].value_counts()

withdrawal.l2_transaction.l2_token.id
xtz                                         926
f68997ecc03751cb99b5b36712b213f11342452b    572
59118d19848baca5c3dd1603acfc99c4cbccc3db      8
baa233e2f62f45e9d91dacd3d6c6a57bc2cbc575      6
8e73ae3cf688fbd8368c99520d26f9ef1b4d3bca      3
Name: count, dtype: int64

### Statuses:

In [28]:
df.status.value_counts()

status
FAILED_INBOX_MATCHING_TIMEOUT             6420
FINISHED                                  5904
CREATED                                   1498
FAILED_INVALID_ROUTING_INFO_REVERTABLE       4
Name: count, dtype: int64

### Timestamps:

In [29]:
sec_in_day = 60*60*24
df['lifetime_days'] = (df['updated_at'] - df['created_at']).dt.total_seconds() / sec_in_day
df.lifetime_days.describe()

count   13,826.00
mean        16.83
std          4.49
min          0.00
25%         18.40
50%         18.40
75%         18.41
max         27.97
Name: lifetime_days, dtype: float64

### Deposit routing data:

In [30]:
df['deposit.inbox_message.message.LL.bytes'].dropna().map(len).value_counts()

deposit.inbox_message.message.LL.bytes
40    12253
80       47
Name: count, dtype: int64

### Rollup:

In [31]:
df['deposit.l1_transaction.target'].value_counts()

deposit.l1_transaction.target
sr18wx6ezkeRjt1SZSeZ2UQzQN3Uc3YLMLqg    12302
Name: count, dtype: int64

### Withdrawals:

In [40]:
df['withdrawal.l2_transaction.address'].value_counts()

withdrawal.l2_transaction.address
0000000000000000000000000000000000000000    1524
Name: count, dtype: int64

- [ ] TODO: analyze amounts?

In [46]:
df['withdrawal.l2_transaction.amount'].dropna().iloc[0]

'1000000000000000'

### Withdrawal ids:

In [58]:
withdrawal_ids = df['withdrawal.l2_transaction.kernel_withdrawal_id'].dropna().sort_values().astype(int)
assert not withdrawal_ids.duplicated().any()

withdrawal_ids

536       1
543       2
537       3
538       4
136       5
       ...
423    1522
430    1523
445    1524
447    1525
448    1526
Name: withdrawal.l2_transaction.kernel_withdrawal_id, Length: 1524, dtype: int64

### Missing withdrawals:

In [69]:
# withdrawal_ids
set(range(1, withdrawal_ids.max() + 1)) - set(withdrawal_ids.to_list())

{1058, 1065}

In [95]:
df[
    df['withdrawal.l2_transaction.kernel_withdrawal_id'].isin([1057, 1059])
]['withdrawal.l2_transaction.level'].astype(int).to_list()

[6265791, 6271358]

### Levels:

In [96]:
df['withdrawal.l2_transaction.level'].value_counts()

withdrawal.l2_transaction.level
6,274,209.00    450
6,263,219.00    450
6,263,311.00    450
6,263,059.00    100
6,262,977.00     10
6,262,938.00      5
6,272,853.00      3
6,262,913.00      3
6,271,358.00      3
6,273,681.00      3
5,264,485.00      1
5,111,151.00      1
5,351,776.00      1
5,588,406.00      1
5,382,917.00      1
5,351,679.00      1
5,307,434.00      1
5,307,509.00      1
5,307,538.00      1
5,384,020.00      1
5,384,385.00      1
6,748,543.00      1
5,382,535.00      1
5,382,583.00      1
5,039,150.00      1
5,610,374.00      1
5,602,953.00      1
5,588,428.00      1
5,597,662.00      1
5,598,324.00      1
5,598,237.00      1
5,598,447.00      1
5,600,838.00      1
5,597,495.00      1
5,111,103.00      1
5,643,944.00      1
6,958,905.00      1
7,058,957.00      1
7,311,063.00      1
7,050,148.00      1
7,056,725.00      1
6,060,621.00      1
5,999,549.00      1
5,747,366.00      1
5,747,322.00      1
5,718,707.00      1
5,714,307.00      1
5,714,294.00      1
5,684,984.00      1
7,313,230.00      1
7,311,286.00      1
6,262,849.00      1
6,262,816.00      1
6,148,981.00      1
6,252,440.00      1
6,252,476.00      1
6,265,791.00      1
Name: count, dtype: int64

### What are parameters hash?

In [98]:
df['withdrawal.l2_transaction.parameters_hash'].value_counts()

withdrawal.l2_transaction.parameters_hash
16b767c43aba58568e9dc05a1e2ba47d    99
5efa431a16915f9eb900d9ec53dbde37     1
73a00a60477e59829ca035a878b48f15     1
3ea4a7662a0a56e1ae181927aeb5d6a4     1
1f155ba44ee45038907a83aa283e044a     1
90a2b27e57975864a0846c17cb3105b3     1
ea287c808271515eb6c99be4eae352b0     1
c6d79aa4d7ff5eb68df143b6c13d6134     1
Name: count, dtype: int64

### L2 tickets:

In [99]:
df['withdrawal.l2_transaction.ticket.hash'].value_counts()

withdrawal.l2_transaction.ticket.hash
71633053619282981145548614114746933288401055647068660200262395418774065381735    926
9127002238795696064282543683188674942190822398625278725945646631384514161455     581
12264034381471993363263869037032235995742822566750644554529177447255212056362      8
94307383278737158402120131047685288725437552599737436826370621448931166249308      6
59127759903831710082238055012661935269923438634918454288176556644870427973106      3
Name: count, dtype: int64

In [107]:
df['withdrawal.l2_transaction.ticket.whitelisted'].value_counts()

withdrawal.l2_transaction.ticket.whitelisted
True    1524
Name: count, dtype: int64

### Multiple withdrawals in one hash:

In [112]:
df['withdrawal.l2_transaction.transaction_hash'].value_counts()

withdrawal.l2_transaction.transaction_hash
2ffa4514f53052b6dbdc8a5facd22e10be5cd3df687e6bd59aead7bb59538bdd    450
9645796b5153072f94c2c8390641da9603471eba0588408a5d414e9603f1754f    450
3a116245e9cb547dc101653d6e7014abf663d67ec378500291d77b5d2684d163    450
5a8f4126ebb02a99c815d7cd63cd25cc998633896f5e13e1c38e34b2af758a07    100
d461bb7ca25442f2688f279fb370833a1c0aea5b65aa00f59fee5b116cdcc79a     10
0e6079442f4278a0151e39f47048fc2abf0a7d63e420f6a5da8d6116f578ae12      5
f06a036fc3a1396ebe36ef80f9080748e5c58660162b8be0ab41ee29d1437dc6      3
9467e4fd7e4f1fe0e49088f49469d20c7cd598611c5ee9f90534fdea4945c67c      3
b00b86e3a978e2273530e89833d7aad00e453af5fdffae84be601c3b548aa6b9      3
9dca8aa2a43b2856788735ee2b734aedbc24079fa657d71b7adca76d06dd8594      3
99db7a6a30209965d791a71279ed0159ac6d053d2d00843f4c450b3081367b6b      1
be26bc31a16e334e479e0087e8f448b43e266d2446e3ec6faa668e026eb07c65      1
f1ba07529c3355cabd58e0c17bccf01d32e205149877c2d1113c1254391500d3      1
77ff272b3b1154028e04e9568b9823f2ab6940cb5b4673dd7eb5ec03057526f2      1
c6028c6289948d5530a04ad495a8e76cf20d3c52bd2452eb405cd77c456783c7      1
4192cc4c5ab7cd3c62f436bc0f0c84cd01e100afc1699dbea9a591af81047cc6      1
eadfe29466a6675d413009eb291c7aa694214800cc4a489077cf6894274de62d      1
b2d72c0ee4a07a1049761f3e48857b425ada1362b260b9c9ebc1eda1d1460c45      1
257f61cd1b9b8caf3b592069a0d5ae09f1cb468653f4834bdecab80f6ba4e558      1
676f81b6bde505fd6ea27abe219cb43c61dd22e09c4b56a41a7c823758819102      1
220539f68d7a3e081058a2f516bba2addad842192faa85e0a28f09122cf74913      1
7cc7dd6d3df5f7eee6c8686005131c3b8b537cca09aaf4430a057d7b68540a0a      1
2c9f7b4bff8b8ec94184293cf807b85f47c02a013340035cdfc5aaee201a6078      1
2d22357824e946737409bbc76249cd3b665e922ed302c014e6f29cc5eefb9738      1
78abbd9ef237a21beac3e90a9e64caa9a6b478907a1d705069bfd4d1077d1e91      1
9c6532536321d1cdf5796bd1d85358c2fd21778c3336594e7a0c014f53bfbe6e      1
370a6e98dc7a688ee16eb209790cf6c55362d9341eee3c02eae8729aae6541a0      1
17a00eb77599126d6f19349a0467b168f6bf186c2d2f53b7e77e5ab236afa466      1
b0f41b38642f9ea3fd8f9dc5ad9149902a99a8ced14a6ee1e2400c1eb15d6239      1
2e1031e00807e8dd61cbe79a4b624a98ae2d5b7b49b0fd85cdd2b347234917ca      1
552e61b0e54367d0b531c981dc2deb99fec52364d8c6a788392b2c404ed39692      1
2b0575c24a24ce8a1adf0632919db2513fa799c5781a718f94d5b701365ee7e3      1
d29361f3c1a2420680d37cb7064d00b920492fa91385c246c50bf8ca9cd96476      1
f2a2d951b577d522322f2077133dd26854e3c25a99771712d704f683149d6945      1
d9a77153c8e04358ad36cf48f99ec80c6f95038fdd92f518bd78802d1f697e88      1
17a7300242b36af070cf82d959722ce2a1e225151eba824f1105d0b3d821fc75      1
4a04a9b68001f5bc80e50e154553ea4db7b9b9e3c2f3dde48a18ea77ebd70459      1
d8316f20f345df0b1f6ec7b3908ea0608f0cfdb80f21191e1dcd0b7234a0be6a      1
eb6a7eff76de38fa493c98e97fd64abc362593ff7aa49db4d3280bfad1b434cd      1
e38c0d0e64662c2fbe0682edc14e6cf54debd328e0eb5fcffdadbe6d4fedcaa5      1
d4e7323d4db36f70e48ef7321b6e33c85610bde30e3ccf63756b7fe851f384e2      1
3bf82ca9457a647e1ed7ed2be4ad1fdd78f9ea23bc5ab42a361580d226c95e7f      1
abe1d85761e07b2f16c0ac4eec898ed208890afa97879805353ac1eef419eaed      1
5d254c5daa3a61bfaf3d92f85d3b80915d3ecf5b7e9733b02b1823ba09beb0a6      1
a6ba671553f7c4c536ddc5bc94589025c640c03e09c9fda04f5c1bb3e5657840      1
6b1eabef6f072d73d40d5c82e13f8e4d44191fe9b1fae56e04677f8adaa5cf12      1
a4b25543701ef681f036ec9890559931cb98b0ea708bc764659d04662dc81a9a      1
0195b9cde58f2d168c3fa3a448c5e29630fcb6802ed967b7d28e022b23e21efc      1
dfff37cbe77352b11586d3dfeabf56ce71f66da52884564971af7243472a2516      1
16eea141cdbdf43f9cb82f1309685dbadff4d6d276471afdf36c1dae85225bc7      1
21cbae35e2931d7aa67da76919e9879b820f195159a61030656698ebc5560047      1
0f9ac2ec9c491cb519445fcf4a447cca3f44da4b7862cf4014117e9016291415      1
60d1e39a95e4ca5d3f4127826eb274c560c1d1ed5d2c2ee1a5d9a4ed9728e889      1
feb49dd2b1c4429b20c8bba52f36f52e59a620540f0363052383ac539948dcf7      1
4e9b04233fbabe5894ce277a7a474be7c9fdb8bfc87670430001ee1a04266fd2      1
51d2235e0ed699cdef39c4c2fef61f0c84c687678859fb62183bafdfe25d6f3a      1
e43d62e9edceadbe809968f8cdb98c920d8151db6699125360016fcad1e9fbe1      1
Name: count, dtype: int64

### What is `withdrawal.l2_transaction.transaction_index`?

In [113]:
df['withdrawal.l2_transaction.transaction_index'].value_counts()

withdrawal.l2_transaction.transaction_index
0.00    1043
1.00     477
2.00       4
Name: count, dtype: int64

### Cemented at:

In [127]:
df['withdrawal.outbox_message.cemented_at'].value_counts().sort_index()

withdrawal.outbox_message.cemented_at
2024-09-11T11:47:45+00:00      1
2024-09-13T20:56:01+00:00      2
2024-09-18T15:22:47+00:00      1
2024-09-21T13:30:45+00:00      2
2024-09-21T20:46:52+00:00      1
2024-09-21T21:01:52+00:00      2
2024-09-24T10:25:32+00:00      2
2024-09-24T11:55:32+00:00      5
2024-09-24T12:10:32+00:00      1
2024-09-24T12:40:32+00:00      1
2024-09-24T13:40:32+00:00      1
2024-09-25T08:10:32+00:00      1
2024-09-26T10:55:32+00:00      1
2024-09-27T05:10:32+00:00      2
2024-09-27T06:40:32+00:00      1
2024-09-27T15:10:32+00:00      2
2024-10-01T05:40:32+00:00      1
2024-10-02T02:55:32+00:00      1
2024-10-03T00:40:32+00:00      1
2024-10-03T19:40:32+00:00      2
2024-10-03T21:25:32+00:00     20
2024-10-03T21:40:32+00:00    100
2024-10-03T21:55:32+00:00    800
2024-10-03T22:10:32+00:00      1
2024-10-03T23:10:32+00:00      4
2024-10-03T23:25:32+00:00    106
2024-10-03T23:40:32+00:00    350
2024-10-08T09:28:50+00:00      1
2024-10-10T11:29:02+00:00      1
2024-10-11T11:13:04+00:00      1
2024-10-14T08:02:39+00:00      1
2024-10-14T08:18:37+00:00      1
2024-10-14T08:41:05+00:00      1
Name: count, dtype: int64

### Last withdrawals stats:

In [126]:
pd.DataFrame({
    'created_at': df['withdrawal.outbox_message.cemented_at'],
    'cemented_at': df['withdrawal.outbox_message.created_at'],
}).sort_index().dropna()[-10:]

                    created_at                cemented_at
994  2024-10-03T23:25:32+00:00  2024-09-19T19:16:57+00:00
995  2024-10-03T21:55:32+00:00  2024-09-19T17:19:55+00:00
995  2024-10-03T23:40:32+00:00  2024-09-19T19:17:12+00:00
996  2024-10-03T23:25:32+00:00  2024-09-19T19:16:57+00:00
997  2024-10-03T21:55:32+00:00  2024-09-19T17:20:02+00:00
997  2024-10-03T23:40:32+00:00  2024-09-19T19:17:07+00:00
998  2024-10-03T21:55:32+00:00  2024-09-19T17:20:12+00:00
998  2024-10-03T23:40:32+00:00  2024-09-19T19:17:12+00:00
999  2024-10-03T21:55:32+00:00  2024-09-19T17:19:55+00:00
999  2024-10-03T23:40:32+00:00  2024-09-19T19:17:17+00:00

### Outbox initiators:
- [ ] why `withdrawal.l1_transaction.initiator` is only `MIDL.dev etherlink operator`?

In [141]:
df['withdrawal.l1_transaction.initiator'].value_counts()

withdrawal.l1_transaction.initiator
tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA    26
Name: count, dtype: int64

In [146]:
df['withdrawal.l1_transaction.sender'].value_counts()

withdrawal.l1_transaction.sender
tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn    26
Name: count, dtype: int64

### Executed withdrawals:

In [153]:
executed = df[ ~df['withdrawal.l1_transaction.sender'].isna() ]
executed[[
    'status',
    'withdrawal.l1_transaction.initiator',
    'withdrawal.l1_transaction.sender',
    'withdrawal.l2_transaction.l2_token.id',
    # 'withdrawal.l1_transaction.operation_hash'
]]

# executed.iloc[0]['withdrawal.l1_transaction.operation_hash']

,status,withdrawal.l1_transaction.initiator,withdrawal.l1_transaction.sender,withdrawal.l2_transaction.l2_token.id
534,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
535,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
536,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,baa233e2f62f45e9d91dacd3d6c6a57bc2cbc575
537,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
538,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
539,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
540,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,8e73ae3cf688fbd8368c99520d26f9ef1b4d3bca
541,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
542,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,baa233e2f62f45e9d91dacd3d6c6a57bc2cbc575
543,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
544,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
545,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
546,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,59118d19848baca5c3dd1603acfc99c4cbccc3db
547,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
548,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
549,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,59118d19848baca5c3dd1603acfc99c4cbccc3db
550,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,baa233e2f62f45e9d91dacd3d6c6a57bc2cbc575
743,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
99,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
415,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
464,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
526,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,59118d19848baca5c3dd1603acfc99c4cbccc3db
586,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
609,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz
652,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,59118d19848baca5c3dd1603acfc99c4cbccc3db
732,FINISHED,tz1SJjg3biaXZft3KzUeNXTGSkDvzvHU6URA,tz1P2Jn2fQktnA4HHMkLRNy2ebuscUx7EUbn,xtz

### TODO: what are the closest outboxes to be executed?
### TODO: is there any outboxes that wasn't executed and impossible to execute?